    *{
    margin: 2px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #000000;
    }
    
    h1 {
    font-family:'Poppins', sans-serif; 
    color: #F9CF1D ;
    text-align: center ;
    }
    
    h3 {
    font-family: 'Roboto', sans-serif;
    color: #F9CF1D;
    }
    
    p {
    font-family: 'Poppins', sans-serif ;
    text-align: justify;
    font-size: 12px ;
    line-height: 1.5;
    color: #e4f2e4;
    }

    img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #F9CF1D;
    }